*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
    scroll-behavior: smooth;
    font-family: 'Roboto', serif;
    font-weight: 500;
    background-color: var(--background-color);
    --white: #ffffff;
    --text-color: #1D2626;
    --brand-color: #436A58;
    --accent-color: #D74944;
    --heading-color: #736D61;
    --paragraph-color: #736D61;
    --base-text-color: #436A58;

    --background-color:  rgb(251, 247, 238);
    --btn-bg-gradient: #f2b75e;
    --btn-slider-color: #736D61;
    --btn-slider-hover-color: #1D2626;
    --heading-hover-color: #415f51 ;
    --light-border-color: #2ab6ff;


    
   
    
    --dark-shade-color: #81838b;
    --primary-dark-color: #393b42;
    
    --light-accent-color: #f8f8f8;
    --small-dot-color: #24c3b5;
    
     
    --fixed-price-offer-color : #80838B;
    --price-accent-purple-color: #a5a3ef;
    --price-accent-orange-color: #ffb83c;
    --price-accent-turquoise-color: #00c5b5;
}

h1 {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
    color: var(--brand-color);
    line-height: 1.67;
    letter-spacing: 0.5px;
}

h2 {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
    color: var(--accent-color);
    line-height: 1.67;
    letter-spacing: 0.7px;
}

h3 {
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    color: var(--text-color);
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 0.2px;
}

h4 {
    font-size: 34px;
    font-family: 'Playfair Display', serif;
    color: var(--text-color);
    line-height: 1.18;
    font-weight: 700;
    letter-spacing: 0.2px;
}

h5 {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    color: var(--text-color);
    line-height: 1.31;
    font-weight: 600;
    letter-spacing: 0.05px;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1170px;
    margin: auto;  
}



  
