.carusel-personal-tutor {
  margin-top: 70px;
  margin-bottom: 120px;
}

@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .carusel-personal-tutor {
    margin-left: 25px;
    margin-right: 25px;
}
}

/* Базові стилі */
.slider {
  position: relative;
  max-width: 1250px; /* Ширина слайдера */
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 39px;
  padding-right: 10px;
}

.slider__track-wrapper {
  overflow: hidden; /* Ховаємо зайві елементи */
  width: 100%;
}

.slider__track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider__item {
  flex: 0 0 calc(100% / 6); /* Відображаємо 6 елементів на екрані */
  text-align: center;
}

.slider__image {
  max-width: 80%;
  height: auto;
}

/* Стрілки */
.slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: -50px;
  cursor: pointer;
  z-index: 1;
}

.slider__arrow--left {
  left: 0;
}

.slider__arrow--right {
  right: 0;
}

.arrow-svg_1j4 {
  width: 30px;
  fill: var(--btn-slider-color);
}

.arrow-svg_1j4:hover {
  fill: var(--btn-slider-hover-color);
  transition: 0.5s;
}

.arrow-svg-rotate {
  transform: rotateY(180deg);
}





@media only screen and (max-width: 992px) {
  .slider {
    
    max-width: 992px; /* Ширина слайдера */
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 39px;
    padding-right: 10px;
  }

  .slider__item {
    flex: 0 0 calc(100% / 3); /* Відображаємо 6 елементів на екрані */
    text-align: center;
  }
}