
.contacts__form {
    display: flex;
    flex-direction: row;
    gap: 30px;

    margin-bottom: 100px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .contacts__form {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 60px; 
     flex-direction: column; 
}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__form {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 60px; 
     
}
}

.contacts__form-elements {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    
    gap: 30px;
}

 


.contacts__form-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contacts__form-text p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    color: var(--text-color);
    line-height: 1.5;
}


.contacts__form-text--input {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 15px;
}

.contacts__input-element {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}

.contacts__tel-email {
  display: flex;
  flex-direction: column;
}

.contacts__input-size {
    width: 155px;
   
    display: flex;
    flex-direction: row;
    align-items: center;
}


.contacts__input-element p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    color: var(--paragraph-color);
    line-height: 1.56;   
}

.contacts__input-element a {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  color: var(--paragraph-color);
  line-height: 1.56;   
}




 

.contacts__map iframe {
  width: 570px;
} 



@media only screen and (min-width: 320px) and (max-width: 500px) {
  .contacts__map iframe {
    width: 270px;
    
  }
}

@media only screen and (min-width: 500px) and (max-width: 601px) {
  .contacts__map iframe {
    width: 450px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .contacts__map iframe {
    width: 550px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__map iframe {
    width: 330px;
  }
}


























 
  
  
  .question__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .question__container-size {
    padding-top: 70px;
    padding-bottom: 60px;
    width: 570px;
    height: 712px;
    background-color: #ffffff;
  }
  
  @media only screen and (min-width: 320px) and (max-width: 420px) {
    .question__container-size {
      width: 290px;
      height: 550px;
      margin-left: 0px;
          padding-top: 40px;
          padding-bottom: 30px;
    }
  }

    @media only screen and (min-width: 420px) and (max-width: 601px) {
    .question__container-size {
      width: 350px;
      height: 550px;
      margin-left: 0px;
      padding-top: 40px;
      padding-bottom: 30px;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .question__container-size {
      width: 450px;
      height: 590px;
      margin-left: 0px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 850px) {
    .question__container-size {
      width: 290px;
      margin-left: 0px;
    }
  }

    @media only screen and (min-width: 850px) and (max-width: 1200px) {
    .question__container-size {
      width: 350px;
      margin-left: 0px;
    }
  }
  
   
  
  .question__container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  
  .question__form-size {
    width: 370px;
    height: 50px;
    background-color: var(--background-color);
    border-style: solid;
    border-color: rgba(88, 88, 88, 0.001);
     
    font-size: 15px;
    line-height: 1.7;
    font-weight: 500;
  
    padding: 13px 21px;
  }
  
  @media only screen and (min-width: 320px) and (max-width: 420px) {
    .question__form-size {
      width: 190px;
      height: 45px;
      font-size: 12px;
    }
  }

    @media only screen and (min-width: 420px) and (max-width: 601px) {
    .question__form-size {
      width: 220px;
      height: 45px;
      font-size: 12px;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .question__form-size {
      width: 285px;
      height: 45px;
      font-size: 14px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 850px) {
    .question__form-size {
      width: 190px;
      height: 45px;
      font-size: 14px;
    }
  }

    @media only screen and (min-width: 850px) and (max-width: 1200px) {
    .question__form-size {
      width: 210px;
      height: 45px;
      font-size: 14px;
    }
  }
  


  .question__form-size:focus {
     border: 2px solid var(--light-border-color);
     outline: none;
     border-radius: 3px;
  }

.form__text-size {
  height: 150px;
}

  
  .question__form-send {
    width: 370px;
    height: 50px;
    padding: 15px 0;
  
    background: var(--brand-color);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    
    border: var(--brand-color);
    font-optical-sizing: auto;
    text-align: center;
    text-decoration: none;
    margin-top: 25px;
  }
  
  .question__form-send:hover {
    color: #fff;
    background: var(--btn-bg-gradient);
    transition: 0.5s;
  }
  
  @media only screen and (min-width: 320px) and (max-width: 601px) {
    .question__form-send {
      width: 200px;
      height: 45px;
      font-size: 12px;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .question__form-send {
      width: 200px;
      height: 45px;
      font-size: 14px;
    }
  }
  
 