.contact-me__black {
  margin-top: 90px;
  margin-bottom: 90px;
  position: relative; /* Додано для абсолютного позиціонування pop-up */
}

@media only screen and (min-width: 320px) and (max-width: 1200px) {
    .contact-me__black {
        margin-left: 25px;
        margin-right: 25px;
    }
  }

.contact-me__back {
  background-image: url("../img/icons/background.webp");
  max-width: 1200px; /* додано px */
  height: 515px;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  
}

.bfff {
 
     display: flex;
  flex-direction: column;
  
  align-items: center;
}

 .contact-me__popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Центрування через flex */
  align-items: center;
  justify-content: center;
  pointer-events: none; /* Щоб не заважало натисканням, поки popup неактивний */
  z-index: 5;
}

.contact-me__back p {
    color: var(--white);
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 0.2px;

    max-width: 1100px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 80px;
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
    .contact-me__back p {
        font-size: 48px;
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 601px) {
    .contact-me__back p {
        font-size: 32px;
    }
  }

.contact-me__back a {
    text-decoration: none;
    background: var(--accent-color);
    color: var(--white);
    padding: 13px 27px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.5px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 6;  

}

.contact-me__back a:hover {
    background: var(--btn-bg-gradient);
    color: var(--white);
    transition: 0.5s;
     
}


  


 

 



.popup {
  width: 350px;
  height: 280px;
  padding: 30px 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms ease-in-out,
    transform 300ms ease-in-out;
  pointer-events: auto;
  z-index: 1001;
}

.popup.active {
  opacity: 1;
  transform: scale(1);
}
.popup .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}


.popup .icon i.fa {
    font-size: 30px;
    color: #34f234;
}

.popup .title {
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;
}

.popup .description {
    color: #222;
    font-size: 15px;
    padding: 5px;
}

.popup .dismiss-btn {
    margin-top: 15px;
}

.popup .dismiss-btn button {
    padding: 10px 20px;
    background: #111;
    color: #f5f5f5;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popup .dismiss-btn button:hover {
    color: #111;
    background: #f5f5f5;
}


.popup > div {
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup.active > div {
    top: 0px;
    opacity: 1;
}

.popup.active .icon {
    transition: all 300ms ease-in-out 250ms;
}

.popup.active .title {
    transition: all 300ms ease-in-out 300ms;
}

.popup.active .description {
    transition: all 300ms ease-in-out 350ms;
}

.popup.active .dismiss-btn {
    transition: all 300ms ease-in-out 400ms;
}



