.about-me {
    margin-bottom: 50px;
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
  .about-me {
    margin-left: 25px;  
    margin-right: 25px;
}
}

.about-me h3 {
    width: 1000px;
    padding-top: 20px;
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
    .about-me h3 {
        width: 601px;
    }
  }


.about__text-position {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
     .about__text-position{  
        flex-direction: column;
    }
  }

.about__text-size {
    min-width: 600px;
    border: solid;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about__text-size {
        min-width: 290px;  
}
  }

 
.about__text-color--black {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
    color: var(--text-color);
    line-height: 1.36;
    letter-spacing: 0.1px;
}

.about__text-color--gray {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    color: var(--text-color);
    line-height: 1.36;
    letter-spacing: 0.1px;
    padding-bottom: 30px;
}

.about__text-distance {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.about__text-brown--pp p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    color: var(--paragraph-color);
    line-height: 1.56;
}

.about__text-brown--pp span {
    color: var(--btn-bg-gradient);
}

.art-tutor__links-lesson {
    margin-top: 55px;
    
}

  @media only screen and (min-width: 601px) and (max-width: 991px) {
    .art-tutor__links-lesson {
        margin-top: 25px;   
    }
  }

.art-tutor__link-lesson {
    border: 2px solid var(--accent-color);
    text-decoration: none;
    color: var(--accent-color);
    padding: 14px 25px;
    letter-spacing: 0.7px;
    transition: all 0.5s  ;
}

.art-tutor__link-lesson:hover {
    color: var(--white);
    background-color: var(--accent-color);
    transition: 0.5s;
}


/*для окремої секції  about me*/
.about-me__section_wh {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.about-me__section--white {
    width: 1170px;
    height: 345px;
    background-color: var(--white);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    align-items: center;
    gap: 30px;
    margin-bottom:  50px;
    padding-left: 25px;  
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
  .about-me__section_wh {
    margin-left: 25px;  
    margin-right: 25px;
    margin-bottom:  50px;
}
}

  @media only screen and (min-width: 601px) and (max-width: 1250px) {
    .about-me__section--white {
        min-width: 590px;
        height: 345px;    
    }
  }

.about-me__element {
    width: 330px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

  @media only screen and (min-width: 601px) and (max-width: 850px) {
    .about-me__element {
        width: 180px;     
    }
  }

    @media only screen and (min-width: 850px) and (max-width: 991px) {
    .about-me__element {
        width: 210px;     
    }
  }

.about-me__image {
    width: 50px;
}

.about-me__element p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    color: var(--paragraph-color);
    line-height: 1.56;
}

.about-me-link {
    text-decoration: none;
    padding-top: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--heading-hover-color);
    line-height: 1.67;
    letter-spacing: 0.5px;
}

.about-me-link:hover {
    color: var(--accent-color);
    text-decoration: underline;
}