<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Tutor</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="https://placekitten.com/96/139" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">


    <link rel="shortcut icon" href="https://placekitten.com/96/139" type="image/x-icon">


    <!--link swiper lll-->
    <link rel="stylesheet" href="css/swiper-bundle.min.css" /> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
    <header class="header">
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header-nav.partial.html"></nav>
    </header>
    <main>
        
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-personal-tutor.partial.html"></section>
        
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-slider-personal-tutor.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-about-me.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-my-services.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-latest-workshops.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-how-to-start.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-pricing-plans.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-gallery.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-contact-me.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-workshops.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-testimonials.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-contacts.partial.html"></section>

    </main>
    <footer>
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></nav>
    </footer>
   
</body>
</html>
